<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>

    <script src="build/react.js"></script>
    <script src="build/react-dom.js"></script>
    <!-- No need for Babel! -->
  </head>
  <body>

    <div id ="quotesection">
      <button id="compute1" onclick="QuoteFunction()">Quote</button>
      <div id="example1"></div>
    </div>

    <div id ="characterQuoteSection">
      <button id="compute2" onclick="CharacterFunction()">Character name of the quote</button>
      <div id="example2"></div>
    </div>

    <div id ="randomQuoteSection">
      <button id="compute3" onclick="RandomFunction()">Randomquote</button>
      <div id="example3"></div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
